<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>



    <header>

        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Contact Us</a>
        </nav>
    </header>
    <br><br>
    <h2 class="tit">New Arrivals</h2>
        <div class="container">
            <div class="item">
                <img src="https://i.postimg.cc/pLNgzL7m/5064a48d7b1f03f5b32259d0931ffe6a.jpg" alt="Item 1">
                <h2>Unisex Jackets</h2>
                <p>$39.99 up to $59.99</p>
                <button id="product">See more</button>
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/Fsch28XJ/4f099e5f9eac5c1c6f03f051c9d7d06e.jpg" alt="Item 2">
                <h2>Skirts</h2>
                <p>$29.99 up to $35.99</p>
                <button id="product">See more</button>
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/C5Grhhxt/1566f482da64fe31d9e77ded115a0ffa.jpg" alt="Item 3">
                <h2>Crop Tops</h2>
                <p>$19.99 up to $25.99</p>
                <button id="product">See more</button>
            </div>
        <div class="item">
            <img src="https://i.postimg.cc/Qxj7tQNC/s-l1200.webp" alt="Item 4">
            <h2>Pants</h2>
            <p>$39.99 up to $49.99</p>
            <button id="product">See more</button>
        </div>
    </div>

    <script src="script.js"></script>
    </body>
    </html>

