<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>



    <header>

        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About</a>
            <a href="#">Contact Us</a>
        </nav>
    </header>

    <div class="container">
        <div class="item">
            <img src="https://i.postimg.cc/C5Grhhxt/1566f482da64fe31d9e77ded115a0ffa.jpg" alt="Item 1">
            <h2>Crop Tops</h2>
            <p>$19.99</p>
            <button>Add to Cart</button>
        </div>
        <div class="item">
            <img src="https://i.postimg.cc/MTWcZGJL/7caea15fb5110fdb9cbfe534d0b5ce9d.jpg" alt="Item 2">
            <h2>Item 2</h2>
            <p>$29.99</p>
            <button>Add to Cart</button>
        </div>
        <div class="item">
            <img src="item3.jpg" alt="Item 3">
            <h2>Item 3</h2>
            <p>$39.99</p>
            <button>Add to Cart</button>
        </div>
    <div class="item">
        <img src="item4.jpg" alt="Item 4">
        <h2>Item 4</h2>
        <p>$39.99</p>
        <button>Add to Cart</button>
    </div>
</div>
</body>

<footer>
    <p>&copy; 2024 E-commerce Website. All rights reserved.</p>
</footer>
</html>


