body{
    background-color:#755c57;
    overflow: hidden;
}
.navigation a {
    position:relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
}
.navigation a::after{
    content:'';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 70px;
    height:3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;

}
.navigation a:hover::after{
    transform:scaleX(1);
}

.footer p{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
.container {
    max-width: 1200px;    
    margin: 75px;
    padding:20px;
text-align:center;


}
.item {
    display: inline-block;
    width: 20%;
    margin: 1%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.item img {
    width: 100%;
    height: auto;
}
.item h2 {
    margin: 10px 0;
    font-size: 18px;
}
.item p {
    margin: 10px 0;
    font-size: 14px;
}
.item button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    text-align: center;
}